@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f3f1f1;
    width: 100%;
}

button{
    font-family: 'Montserrat', sans-serif;  
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
     
    
::-webkit-scrollbar-track {
    background:#928fb5;
}
    
::-webkit-scrollbar-thumb {
    background: #322B8C;
    border-radius: 10px;
}